[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.109.0"
uvicorn = "==0.26.0"
pydantic-settings = "==2.1.0"

[dev-packages]

[requires]
python_version = "3.7"
